header{
    background-color: #BBBBBB;
}
h1{
    display: inline-block;
}
nav{
    position: absolute;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: black;
    font-weight:bold ;
    text-decoration: none;
    font-size: 25px;
    
}
li > a:hover{
    font-size: 30px;
}